$primaryColor: #1c3f94; 
$secondaryColor: #bb2727;
$accentColor: #88c3d6;
$greyColor: #cfc8c8;
$fontColor: black;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;